h1 {font-size: 60px; color:red;
text-align:center;}
.book {color: blue}
.nav {border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;}
.nav li{
    display:inline;
}
.nav a{display:inline-block;
    padding:10px;}
    * {box-sizing: border-box}
    .intro p {color: rgb(226, 123, 27);
      background-color: orange;
    align-items: center}
    /* Full-width input fields */
      input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    .media {
      display: flex;
      flex-wrap: wrap;
      border: 5 px solid rgb(86, 98, 110);
      border-radius: 5px;
      margin-bottom: 2em;
  }
  .media > * {
      flex: 1 1 250px;
      margin: 10px;
  }