*{font-family: Arial, Verdana, sans-sherif;
color: #0f7486;
text-align: center}
h1 {color: rgb(97, 17, 17);
    background-color:rgb(57, 192, 197);
    text-align:center;
    border:solid;
    border-color: blue;
    padding: 10px;}
#shop {
    color: blue;
}
#one {
    color: rgb(97, 17, 17);
}
  #two {
      color: blue;
  }
.nav {
    background-color: #ccc;
    margin-top: 20px;
    padding: 10px 0px 5px 0px;
    border:1px solid #ccc;
    border-width:1px 0;
    margin:0;
    padding:0;
    text-align:center;}
.nav li{
    display:inline;
}
.nav a{display:inline-block;
    padding:10px;}
    * {box-sizing: border-box}
#intro .article{text-align:center;
    background-color: violet;
    padding: 10px 0px 5px 0px;
    margin-top: 20px;
    padding: 10px 0px 5px 0px;
    border:1px solid #ccc;
    border-width:1px 0;
    margin:0;
    padding:0;
    text-align:center;
}
ul{display: inline;
padding: 5px}
.flex-container{
    display:flex;
     box-sizing: border-box;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      border: solid;
      }
.media {
    display: flex;
    flex-wrap: wrap;
    border: 5 px solid rgb(86, 98, 110);
    border-radius: 5px;
    margin-bottom: 2em;
}
.media > * {
    flex: 1 1 250px;
    margin: 10px;
}