*{font-family: Arial, Verdana, sans-sherif;
color: #86170f;
text-align: center}
.nav {
    background-color: violet;
    margin-top: 20px;
    padding: 10px 0px 5px 0px;
    border:1px solid #ccc;
    border-width:1px 0;
    margin:0;
    padding:0;
    text-align:center;}
.nav li{
    display:inline;
}
.nav a{display:inline-block;
    padding:10px;}
    * {box-sizing: border-box}
#intro .article{text-align:center;
    background-color: violet;
    padding: 10px 0px 5px 0px;
    margin-top: 20px;
    padding: 10px 0px 5px 0px;
    border:1px solid #ccc;
    border-width:1px 0;
    margin:0;
    padding:0;
    text-align:center;
}
ul{display: inline;
padding: 5px}
.flex-container{
    display:-ms-inline-flexbox;
    grid-column-gap: 15px;
    grid-template-columns: repeat (auto-fit, minimax (300px, 1fr));
      padding:10px;}
      * {box-sizing: border-box;
        flex-direction: row;
  }
  
.media {
    display: flex;
    flex-wrap: wrap;
    border: 5 px solid rgb(86, 98, 110);
    border-radius: 5px;
    margin-bottom: 2em;
}
.media > * {
    flex: 1 1 250px;
    margin: 10px;
}