
*{font-family: Arial, Verdana, sans-sherif;
  color: #86170f;
  text-align: center}
  #nav #feature .article #footer {
    background-color: #efefef;
    margin-top: 20px;
    padding: 10px 0px 5px 0px;
}
#feature .article {height: 100px}

li{display: inline;
padding: 5px;}
h1 {color:red;
text-align:center;}
.book {color:rgb(238, 24, 227);
text-align: center;}
h1 {color:pink;
  background-color: rgb(181, 43, 199);
text-align:center;
border:solid;
}
h2 {
  color:blue;
  text-align:center;
  background-color: rgb(22, 172, 218)
}
.nav {border:1px solid #ccc;
    border-width:1px 0;
    margin:0;
    padding:0;
    text-align:center;}
.nav li{
    display:inline;
}
.nav a{display:inline-block;
    padding:10px;}
    * {box-sizing: border-box}
.flex-container{
  display:inline-block;
    padding:10px;}
    * {box-sizing: border-box;
      flex-direction: row;
}
      
.media {
  display: flex;
  flex-wrap: wrap;
  border: 5 px solid rgb(86, 98, 110);
  border-radius: 5px;
  margin-bottom: 2em;
}
.media > * {
  flex: 1 1 250px;
  margin: 10px;
}